[Unit]
Description=echoMe web service
After=network.target
 
[Service]
Type=simple
User=root
Group=root
LimitNOFILE=1024

Restart=on-failure
RestartSec=10
startLimitIntervalSec=60

WorkingDirectory=/usr/local
ExecStart=/usr/local/echoMe
StandardOutput=/var/log/echoMe.log
StandardError=/var/log/echoMe.log
 
[Install]
WantedBy=multi-user.target